<div>
    <div class="text-center pt-14">
        <button class="text-2xl font-extrabold text-white bg-t-dark-green text-center px-8 py-3 rounded-full justify-center align-middle">ĐĂNG KÝ ĐỔI THƯỞNG NGAY</button>
    </div>
    <img src="/images/Footer.png" alt="">
</div>