<div class="container hero-container w-full max-w-full pb-16 h-96 relative">
        <img src="/images/top-banner.jpg" alt="" class="object-cover w-full h-full z-100 absolute">
        <div class="absolute pt-6 w-full flex justify-center">
            <div class="w-3/6 font-bold font-roboto">
                <img src="/images/logo.png" alt="" class="h-9">
                <div class="text-2xl mt-4 mb-2 text-t-dark-green md:text-4xl">Chương trình</div>
                <div class="text-2xl md:text-4xl">HỖ TRỢ ĐẠI LÝ <br/> CỦA AO SMITH</div>
                <div class="text-2xl text-white md:text-3xl">Đăng ký ngay - Đổi thưởng khủng</div>
            
                <div class="bg-white rounded-full inline-block text-t-dark-green px-3 py-1 mt-4 mb-2 md:mt-8">Từ 18.11.2022 đến 16.01.2023</div>
                <p class="max-w-sm text-xs">Với mỗi đơn hàng bán ra và hoàn thành lắp đặt trong thời gian của chương trình, Đại lý sẽ được đổi thưởng sau khi nhập đầy đủ thông tin khách hàng lên trang thông tin của chương trình.</p>
            </div>
            <div class="w-2/6"></div>
        </div>
</div>