<div class="container hero-container w-full max-w-full pb-16 h-96 relative">
        <img src="/images/top-banner.png" alt="" class="object-cover object-top w-full h-full z-100 absolute">
        <div class="absolute pt-6 w-full flex justify-center">
            <div class="font-roboto flex flex-col text-center uppercase font-extrabold">
                <img src="/images/logo.png" alt="" class="h-9 place-self-center">
                    <div class="text-5xl mt-12 mb-4 text-black">CHƯƠNG TRÌNH</div>
                    <div class="text-5xl mb-8 text-white">THƯỞNG LẮP ĐẶT</div>
                    <div class="text-xl text-white my-8 bg-t-dark-green px-6 py-2 rounded-full">Đăng ký ngay - Đổi thưởng liền tay</div>
        
            </div>
        </div>
</div>