---
import Register from "./Register.astro";
import Hero from "./Hero.astro"
import Terms from "./Terms.astro"
import Guide from "./Guide.astro"
import Footer from "./Footer.astro"
---

<div class="max-w-7xl w-full mx-auto">
    <Hero />
    <Register />
    <Terms />
    <Footer/>
</div>