---
import Register from "./Register.astro";
import Hero from "./Hero.astro"
import Terms from "./Terms.astro"
import Guide from "./Guide.astro"
import Footer from "./Footer.astro"
---

<div class="max-w-[1366px] w-full mx-auto">
    <img src="/images/background.png" alt="" class="absolute -z-50 w-full max-w-[1366px] justify-center">
    <Hero />
    <Register />
    <Terms />
    <Footer/>
</div>