---
import Form from "./Form.astro"
---

<div class="pt-14 flex flex-wrap justify-center align-top max-w-full w-full">
    <div class="min-w-[640px] flex justify-center">
        <div class="w-2/3">
            <img src="/images/agents.png" alt="" class="object-cover">
        </div>
    </div>
    <div class="min-w-[640px] flex flex-col">
        <h1 class="uppercase font-bold font-roboto text-4xl text-center">ĐĂNG KÝ ĐỔI THƯỞNG</h1>
        <Form />
    </div>
</div>