<section>
    <div class="mt-14">
        <h1 class="text-4xl text-center font-bold mb-4">THỂ LỆ CHƯƠNG TRÌNH</h1>
        <div class="grid xs:grid-cols-2">
            <div class="flex justify-center translate-x-1/4">
                <div class="relative">
                    <img src="/images/announce-button.png" alt="" class="w-2/3 object-cover">
                    <p class="text-white absolute w-2/3 text-base text-center top-1/2 left-1/2 -translate-x-3/4 -translate-y-1/2 md:text-xl">
                        <strong class="text-xl md:text-2xl">THỜI GIAN:</strong>
                        <br>18.11.2022 - 16.01.2023
                    </p>
                </div>
            </div>
            <div class="flex justify-center">
                <div class="relative">
                    <img src="/images/announce-button.png" alt="" class="w-2/3 object-cover">
                    <p class="text-white absolute w-2/3 text-base text-center top-1/2 left-1/2 -translate-x-3/4 -translate-y-1/2 md:text-xl">
                        <strong class="text-base sm:text-xl md:text-2xl">ĐỐI TƯỢNG THAM GIA:</strong>
                        <br>Đại lý của AO Smith
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="mt-14 text-center justify-center flex flex-col items-center">
        <h1 class="text-4xl text-center font-bold mb-4 text-t-dark-green">QUY TRÌNH THAM GIA</h1>
        <img src="Asset 5.png" alt="">
    </div>
</section>
