
    <div class="mt-14">
        <h1 class="text-4xl text-center text-t-dark-green font-bold mb-4">THỂ LỆ CHƯƠNG TRÌNH</h1>
        <p class="mx-auto max-w-7xl font-bold my-6 text-center text-gray-800 md:text-2xl">Với mỗi đơn&nbsp;hàng bán ra và hoàn thành lắp đặt trong thời gian của chương trình, Đại&nbsp;lý sẽ được đổi thưởng sau khi nhập đầy đủ thông tin khách&nbsp;hàng lên trang thông tin của chương trình.</p>
        <div class="grid grid-row">
            <div class="max-w-3/4 grid grid-cols-2 justify-items-center">
                <div class="relative scale-75">
                    <img src="/images/button-time.png" alt="" class="object-cover">
                    <img src="/images/flare.png" alt="" class="absolute top-0 right-0 -translate-y-1/2 translate-x-[7rem]">
                </div>
                <img src="/images/button-audience.png" alt="" class="object-cover scale-75">
            </div>
            <div class=" mt-6">
                <p class="px-14 text-base justify-center box-content md:text-xl">- Thời gian trả thưởng trong vòng 06 ngày làm việc kể từ khi Đại&nbsp;Lý nhập thông tin đơn&nbsp;hàng chính xác lên website của chương trình.</p>
                <p class="px-14 text-base justify-center box-content md:text-xl">- Trong trường hợp không nhận được thưởng, Đại&nbsp;Lý vui lòng liên hệ với nhân viên kinh doanh của A.&nbsp;O.&nbsp;Smith để được hỗ trợ.</p>
            </div>
        </div>
    </div>

<section>
    <div class="mt-14 text-center justify-center flex flex-col items-center box-content">
        <h1 class="text-4xl text-center font-bold mb-4 text-t-dark-green">HOTLINE HƯỚNG DẪN SỬ DỤNG VOUCHER</h1>
        <a href="tel:1900558820" class="flex items-center box-content">
        <div class="box-content flex md:text-4xl font-extrabold text-white bg-t-dark-green text-center px-14 py-2 rounded-full justify-center align-middle">
            <img src="/images/phone.png" alt="" class="h-5 md:h-12">
            <button>&nbsp;1900.55.88.20</button>
        </div>
    </a>
    </div>
</section>
