
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.form-input {
    border: 1px solid transparent;
    outline: none;
    height: 2.5rem;
}

.img-thumbnail{
  padding:.25rem;
  background-color:#fff;
  border:2px solid #ddd;
  border-radius:.25rem;
  transition:all .2s ease-in-out;
  max-width:100px;
  height:auto
}

.error-message {
  color: red;
  padding: .5rem;
  @apply text-sm
}